<!DOCTYPE html>
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/genericstyles.css' %}">
    {% block styles %}
    {% endblock %}
    {% block title %}{% endblock %}
</head>
<body>

	<div class="container-fluid">
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	    <a href="#" class="navbar-left .img-responsive"><img src="https://files.slack.com/files-pri/TCRRTDTB5-FD6LS4DCM/logo.png" style="height:50px;"></a>
    </div>
    {% block sidebar %}
    <ul class="nav navbar-nav">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'vote' %}">Vote</a></li>
      <li><a href="{% url 'submit' %}">Submit</a></li> 
      <li><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
      {% if request.user.is_authenticated %}
	  <li><a href="{% url 'profile_detail' %}">My Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
	  {% else %}
	  <li><a href="{% url 'login' %}">Login</a></li>
	  {% endif %}
      
       <li><form  type="get" action={% url 'search' %} style="margin: 1">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search... " >
    <input type="radio" name="models" value="Pets" checked>Search Pets 
    <input type="radio" name="models" value="Owners">Search Owners    
    <button id="search_submit" class="btn btn-default"  type="submit" >Search</button>
	       
	       </form> </li>


    </ul>
    {% endblock %}
  </div>
</nav>
	<div class="row">
		<div class="col-sm-2"></div>
	<div class="col-sm-8">
	<div class="jumbotron">
	{% block content %}{% endblock %}
	</div>
	</div>
	<div class="col-sm-2"></div>
</div>
</div>
</body>
