{% extends "generic.html" %}

{% block content %}
  <p>WELCOME TO PUPG!
  
  This site allows users to upload pics of their pets, and then vote for which one is cutest! If you need help, you've come to the right place!

  Getting Started:
	
  When you first visit the site, you will not be logged in, and therefore, will have limited functionality. While not logged in,
  you can only view the homepage, leaderboard, and help(this) page. To get an account, you must first press login, on the top navigational bar, 
  and then press register. Once you enter in the necessary info, congrats! You now have an account with us. After you enter your info on the register page,
  you will automatically be logged in.

  Logged In:

  Now that you're logged in, the real fun begins. You can press my profile to see your profile, along with any pets you've uploaded. Most of the info is self 
  explanitory, but one thing you may notice is 'rank'. Rank is determined by how many votes you give out on the voting screen. You start as pet amatuer, but as soon as 
  you give out 100 votes, you will get your first promotion! How high up can you go?
  
  To vote for pets, simply press the 'vote' tab on the navigation bar on top. Here you will be displayed two different pets(picked at random), and you will be forced to 
  pick which one is cuter. Simply click the button with the cuter pet's name to submit your vote. Once this is done, the voting page will be reloaded with two different pets.
  To ensure fairness, you will never see your own pet on the voting screen, because then you'd just vote for it. 

  To submit a pet for voting, simply click the 'submit' tab on the top naviagational bar and enter in the necessary info, upload a pic, and click submit pet!
  For your pet picture, please make sure the photo only has one pet in it, and that pet is the main focus of the shot. 

  Users/Pets links:
  You can click on any pet/users names to bring up a detailed view on them, including their pets, votes recieved, etc.

  To use the leaderboard, simply press the leaderboard tab, and check any filters you want to apply, and Presto! The leaderboard will show up with all 
  the species you wanted to see. Pressing the species button will allow you to see how all our different species ranked overall, in terms of number of votes or 
 number of submissions. The filters you have active will be displayed just above the leaderbaord table.

 If you know the name of a pet/owner, you can simply type the name in the search bar, to find them. The algorithim uses name-matching to determine 
 who to display closest to the top.


 Those are the basics to get started, now go look at some cute pets?
 WHO WILL REIGN CUTENESS SUPREME?

 </p>

  {% endblock %}
