
{% extends "generic.html" %}

<!DOCTYPE html>
<html>

{% block content %}
<head>
<title>LeaderBoard</title>

<a href="{% url 'leaderboardSpecies' %}" class="btn btn-default">Species</a>


<link rel="stylesheet" href="leaderBoardDraft1.css">
</head>
<style>
table {
    font-family: arial;
    color: white;
    border-collapse: collapse;
    width: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    #background-color: #dddddd;
   
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>

 <h1 align="center">Leader Board</h1>

<table>
  <tr>
    <th>RANK</th>
    <th>PET</th>
    <th>OWNER</th>
    <th># OF VOTES</th>
  </tr>
<form  type="get" action={% url 'leaderboard' %} style="margin: 1">
<input type="checkbox" align="left" name="showAll"> <label for=myCheckbox> All Species </label> &nbsp;
<input type="checkbox" name="showDogs"> <label for=myCheckbox> Dogs </label> &nbsp;
<input type="checkbox" name="showCats"> <label for=myCheckbox> Cats </label> &nbsp;
<input type="checkbox" name="showReptiles"> <label for=myCheckbox> Reptiles </label> &nbsp;
<input type="checkbox" name="showFish"> <label for=myCheckbox> Fish </label> &nbsp;
<input type="checkbox" name="showBirds"> <label for=myCheckbox> Birds </label> &nbsp;
<input type="checkbox" name="showHorse"> <label for=myCheckbox> Horses </label> &nbsp;
<input type="checkbox" name="showSM"> <label for=myCheckbox> Small Mammals </label> &nbsp;
<input type="checkbox" name="showRocks"> <label for=myCheckbox> Rocks </label> &nbsp;
<input type="checkbox" name="showBugs"> <label for=myCheckbox> Bugs </label> &nbsp;
<button id="filter" class="btn btn-default" type="submit" >Apply Filter(s)</button>

               </form>

	       <br> 

	       {{ filtered_string }} 

  {% for pet in ordered_pets %}

<tr>
	<td>{{forloop.counter}}</td>
	<td>

	  
	<img src="{{pet.picture.url}}" style="width:100px;height:100px;">
	<a href="{{ pet.get_absolute_url }}">{{ pet.name }}</a></td>
	<td><a href="{{ pet.pet_owner.get_absolute_url }}">{{ pet.pet_owner.name }}</a></td>
    	<td>{{pet.vote_count}}</td>
	 
</tr>

		
		
{% endfor %}
 

</table>


<body>
  <div class="container-fluid">
   <div class="row">
     <div class="col-lg-2"></div>
  <div class="col-lg-8">
 
  
     </div>
     <div class="row">
     <div class="col-lg-2"></div>
   </div>
  </div>
   
</body>

{% endblock %}
</html>
