{% extends "generic.html" %}

{% block content %}
<h1 class="text-center">Submit your pets!</h1> 

<div class="row">
	<div class="col-sm-6"><img class="img-responsive img-rounded" src="http://pluspng.com/img-png/png-domestic-animals-bigstock-group-of-pets-standing-in-fron-7843960-400.png" title="A group of happy pets!" height=242px></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-5"><p style="font-size:22px;">Do you think that your pet has what it takes to compete and win in a cuteness-based competition? If you do, then submit pictures of your pets and share the cuteness with others.</p></div>
</div>
      <div class="row">
            <div class="col-sm-2">
                <label>
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			Pet Name:   &nbsp; {{ form.name }}<br>
			Pet Age:     &nbsp; &nbsp; &nbsp; {{ form.age }}<br>
			Pet Species: {{ form.animal_type }}<br>
			Add Picture: {{ form.picture }}<br>
            </div>
        </div>
      <label class="btn " style="border:0;">
      <input type="submit" value="Submit">
</form>
{% endblock %}
